<div class="row">
    <div class="col-sm-6 mx-auto">
        <div class="card border-dark">
            <div class="card-header text-center bg-dark pt-4">
                <h2 class="text-white">
                    EDITAR REGISTRO
                </h2>
            </div>
            <div class="card-body">
                <form action="/editar-asistencia/{{asistencia._id}}/editar" method="POST">
                    <div class="form-group">
                        <label for="hora">Hora de Asistencia:</label>
                        <input type="time" class="form-control" id="hora" name="hora" value="{{asistencia.hora}}">
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary">Guardar Cambios</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>